@import '../../../node_modules/zuck.js/src//styles/modal.css';

#zuck-modal-content .story-viewer .slides-pointers {
    padding-top: calc(var(--safe-area-inset-top, 0) - 6px);
}

#zuck-modal-content .story-viewer .head {
    padding-top: var(--safe-area-inset-top, 0);
}
#zuck-modal-content .story-viewer .head .right .time {
    display: none;
}

.Stories__StoryItem {
    max-width: 100px;
}

.stories.carousel {
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.stories.carousel::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.stories.carousel .story > .items {
    display: none;
}

.stories.list {
    white-space: nowrap;
    overflow: auto;
}

.stories.list .story {
    display: block;
    width: auto;
    margin: 6px;
    padding-bottom: 6px;
}

.stories.list .story > .item-link {
    text-align: left;
    display: block;
}

.stories.list .story > .item-link > .item-preview {
  height: 42px;
  width: 42px;
  max-width: 42px;
  margin-right: 12px;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0;
  overflow: hidden;
}
.stories.list .story > .item-link > .item-preview img {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.stories.list .story > .item-link > .info {
  display: inline-block;
  line-height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.stories.list .story > .item-link > .info .name {
  font-weight: 500;
  display: block;
}
.stories.list .story > .item-link > .info .time {
  display: inline-block;
}
.stories.list .story > .items {
  display: none;
}