.Quiz {
    position: relative;

    width: 100vw;
    height: 100%;
}

.Quiz__mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background-size: cover;
    filter: blur(50px);

    transition: all 15000ms ease-in;
}