.StoryItem {
    display: inline-block;

    border: none;

    background-color: transparent;

    color: #fff;

    cursor: pointer;

    outline: none;
}

.StoryItem__wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100%;
}

.StoryItem__photo-wrapper {
    position: relative;

    width: 80px;
    height: 80px;

    border-radius: 50%;
}

.StoryItem--red-orange .StoryItem__photo-wrapper {
    background-image: var(--gradient-red-orange);
}

.StoryItem--orange-yellow .StoryItem__photo-wrapper {
    background-image: var(--gradient-orange-yellow);
}

.StoryItem--green-yellow .StoryItem__photo-wrapper {
    background-image: var(--gradient-green-yellow);
}

.StoryItem--blue-green .StoryItem__photo-wrapper {
    background-image: var(--gradient-blue-green);
}

.StoryItem--purple-aqua .StoryItem__photo-wrapper {
    background-image: var(--gradient-purple-aqua);
}

.StoryItem--seen .StoryItem__photo-wrapper {
    background-image: none;
    background-color: silver;
}

.StoryItem__preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70px;
    height: 70px;

    border: 3px solid #000;

    border-radius: 50%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

.StoryItem__preview img,
.StoryItem__time {
    display: none;
}

.StoryItem__info {
    white-space: normal;
}